.Sign-countainer form {
    box-sizing: border-box;
    width: 700px;
    height: 240px;
    left: 710px;
    top: 439px;
    background: #FFFFFF !important;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.countainer{
  position: absolute;
  top: 50%;
  left: 40%;
  margin: -70px 0 0 -170px;
}


.search-input {
    background: #FFFFFF !important;  
    margin-left: 30px;
}



.iniciar {
    padding: 1px;
    background: #7695EC !important;
    border-radius: 8px;
    cursor: pointer;
    max-width: 300px;
    width: 111px;
    box-shadow: none;
    border: none;
    height: 32px;
    margin-top: 18px;
    margin-left: 520px;
    color: white;
    line-height: 20px;
    font-size: 20px;
}


.iniciar:disabled{
    background: #DDDDDD !important;
    color: #888888;
    cursor: no-drop;
 }

 

 .title {
    /* margin-left: 30px; */
    background: #FFFFFF !important;
    color: black !important;
    border-radius: 10px;
}


.placeholder {
    background: #FFFFFF !important;
    border: 1px solid #777777;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 9px;
    width: 630px;
    font-size: 14px;
}

.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 19px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 25px;
    background: #FFFFFF !important;
}